dvc
mlflow
ultralytics
fastapi
uvicorn
streamlit
evidently
pandas
numpy
opencv-python
pytest
black
flake8
python-dotenv
rich
tqdm
openpyxl
fpdf2
psutil
GPUtil
pydantic-settings
sqlalchemy>=2.0.0
asyncpg
alembic
greenlet
aiosqlite
pytest-asyncio
